#NavBar {
  position: fixed;
}

.navbar .navbar-brand {
  font-family: DynaPuff;
}

#home {
  font-family: DynaPuff;
}

#abstract {
  height: 50rem;
  width: 100%;
  max-width: 100%;
}

#NashPic {
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 20%;
  border-radius: 50%;
  width: 100%;

}

#name1 {
  position: absolute;
  font-family: DynaPuff;
  top: 100px;
  left: 400px;
  color: white;
  width: 100%;
}

#name2 {
  position: absolute;

  top: 145px;
  left: 420px;
  color: white;
  width: 100%;
}


#NashPic:hover {
  transform: scale(1.1);

}

#nashin:hover {
  transform: scale(1.1);

}


#reactPic {
  position: absolute;
  top: 500px;
  left: 350px;
  color: white;
  max-width: 10%;
  width: 100%;
}

#JavaScript {
  position: absolute;
  top: 500px;
  left: 600px;
  color: white;
  max-width: 9%;
  width: 100%;
}

#css3 {
  position: absolute;
  top: 480px;
  left: 800px;
  color: white;
  max-width: 11%;
  width: 100%;
}

#bootstrap1 {
  position: absolute;
  top: 511px;
  left: 1000px;
  color: white;
  max-width: 11%;
  width: 100%;
}

#html5 {
  position: absolute;
  top: 511px;
  left: 1200px;
  color: white;
  max-width: 11%;
  width: 100%;
}

#mongoDb1 {
  position: absolute;
  top: 450px;
  left: 80px;
  color: white;
  max-width: 25%;
  width: 100%;
}

#AboutNashbi, #Projects {
  text-align: center;
  font-family: DynaPuff;

  
}

#paragraph {
  text-align: center;
  
}

#nashin {
  position: relative;
  max-width: 38%;
  top: 15px;
  left: 550px;
  width: 100%;
  border-radius: 15%;


}

#proj1, #proj2, #proj3 {
  position: relative;
  max-width: 25%;
  left: 0px;
  width: 100%;
  border-radius: 15%;


}

.Projecting {
  font-weight: bold;
  font-size: large;
  font-family: DynaPuff;
}

#proj1:hover {
  transform: scale(1.1);
}

#proj2:hover {
  transform: scale(1.1);
}

#proj3:hover {
  transform: scale(1.1);
}